/* Global */

:root {
	--main-color: #343434;
	--primary-color: #1c1c1c;
	--sec-color: white;
	--bg-color: #f7f7f7;

	--main-font: Montserrat, sans-serif;
	--sec-font: Poppins, sans-serif;
}

.bg-color {
	background-color: var(--bg-color);
}

p {
	color: #748182;
	font-family: var(--main-font);
	font-size: 14px;
}
span {
	color: #748182;
	font-family: var(--sec-font);
	font-size: 14px;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.box-shadow {
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.head-style h3 {
	background-image: url(../imgs/quiz/dots.png);
	display: inline-block;
	font-family: var(--main-font);
	font-weight: 900;
	font-size: 2.5rem;
	color: #343434;
	line-height: 4rem;
}
h6 {
	font-family: var(--main-font);
}

/* navbar */

.navbar .nav-link {
	position: relative;
	font-family: var(--primary-font);
	color: #748182;
	font-weight: 500;
	font-size: 0.9rem;
}

.navbar-expand-lg .navbar-nav a::before {
	content: "";
	position: absolute;
	bottom: -10%;
	width: 0%;
	height: 2px;
	background-color: black;
	transition: all 0.3s ease-in-out;
}
.navbar-expand-lg .navbar-nav a:hover::before {
	width: 50%;
}
#navbar .active::before {
	content: "";
	position: absolute;
	bottom: -10%;
	width: 50%;
	height: 2px;
	transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0 1.2rem;
}

.navbar-brand {
	text-transform: uppercase;
	font-family: var(--main-font);
	letter-spacing: 1px;
	font-weight: 800;
	font-size: 1.1rem;
	color: #1c1c1c;
}

/* home */

#home {
	background-image: linear-gradient(
			rgba(1, 1, 1, 0.546),
			rgba(10, 10, 10, 0.748)
		),
		url(../imgs/quiz/bg.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

#home h5 {
	font-family: var(--main-font);
	font-weight: 800;
	font-size: 3rem;
}
#home span {
	color: var(--sec-color);
	font-family: var(--main-font);
	font-weight: 200;
	font-size: 3.5rem;
}
#home span::after {
	content: "|";
	animation-name: typing;
	font-weight: 200;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.home-icon {
	background: rgba(0, 0, 0, 0.3);
	color: var(--sec-color);
}

@keyframes typing {
	0% {
		content: "D|";
	}
	2% {
		content: "De|";
	}
	4% {
		content: "Dev|";
	}
	6% {
		content: "Deve|";
	}
	8% {
		content: "Devel|";
	}
	10% {
		content: "Develo|";
	}
	12% {
		content: "Develop|";
	}
	14% {
		content: "Develope|";
	}
	16% {
		content: "Developer|";
	}
	18% {
		content: "Develope|";
	}
	19% {
		content: "Develop|";
	}
	20% {
		content: "Develo|";
	}
	21% {
		content: "Devel|";
	}
	22% {
		content: "Deve|";
	}
	23% {
		content: "Dev|";
	}
	24% {
		content: "De|";
	}
	25% {
		content: "|";
	}
	27% {
		content: "L|";
	}
	29% {
		content: "La|";
	}
	31% {
		content: "Lar|";
	}
	33% {
		content: "Larr|";
	}
	35% {
		content: "Larry|";
	}
	37% {
		content: "Larry D|";
	}
	39% {
		content: "Larry Da|";
	}
	41% {
		content: "Larry Dan|";
	}
	43% {
		content: "Larry Dani|";
	}
	45% {
		content: "Larry Danie|";
	}
	47% {
		content: "Larry Daniel|";
	}
	49% {
		content: "Larry Daniels|";
	}
	51% {
		content: "Larry Daniel|";
	}
	54% {
		content: "Larry Dani|";
	}
	57% {
		content: "Larry Dan|";
	}
	59% {
		content: "Larry Da|";
	}
	60% {
		content: "Larry D|";
	}
	63% {
		content: "Larry|";
	}
	66% {
		content: "Larr|";
	}
	67% {
		content: "Lar|";
	}
	69% {
		content: "La|";
	}
	71% {
		content: "L|";
	}
	73% {
		content: "|";
	}
	74% {
		content: "D|";
	}
	76% {
		content: "De|";
	}
	78% {
		content: "Des|";
	}
	80% {
		content: "Desi|";
	}
	83% {
		content: "Desig|";
	}
	86% {
		content: "Design|";
	}
	88% {
		content: "Designer|";
	}
	90% {
		content: "Design|";
	}
	92% {
		content: "Desig|";
	}
	94% {
		content: "Desi|";
	}
	96% {
		content: "Des|";
	}
	97% {
		content: "De|";
	}
	99% {
		content: "D|";
	}
	100% {
		content: "|";
	}
}

/* about */

.skill-dec {
	border-radius: 5px;
	height: 25px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}
.skill-dec h6 {
	font-weight: 400;
	font-size: 0.9rem;
}

.about-img {
	position: relative;
	background-image: url(../imgs/quiz/dots.png);
}
.about-img img {
	width: 90%;
	position: absolute;
	top: -15%;
	right: 0%;
}
.about-right h3 {
	font-family: var(--main-font);
	font-weight: 900;
	font-size: 2.5rem;
	color: #343434;
	line-height: 4rem;
}

.web {
	background-image: linear-gradient(to right, #1c1c1c 95%, white 5%);
}
.branding {
	background-image: linear-gradient(to right, #1c1c1c 80%, white 20%);
}
.development {
	background-image: linear-gradient(to right, #1c1c1c 90%, white 10%);
}

.about-right h3 {
	font-weight: 800;
	font-size: 2rem;
}
.about-btn {
	transition: all 0.3s ease-in-out;
	border-radius: 4px;
	font-family: var(--sec-font);
	font-weight: 400;
	font-size: 15px;
	padding: 8px 24px;
	text-transform: capitalize;
}

.about-btn-contact {
	color: var(--primary-color);
	border-color: var(--primary-color);
}
.about-btn-contact:hover {
	background-color: var(--primary-color);
	color: var(--sec-color);
}

.about-btn-download:hover {
	color: var(--sec-color);
	border-color: var(--primary-color);
	color: var(--primary-color);
}
.about-btn-download {
	background-color: var(--primary-color);
	color: var(--sec-color);
	border-color: var(--primary-color);
}

/* services */

.service-icon-border {
	color: var(--primary-color);
	transition: all 0.3s ease-in-out;
}
.service-icon-circle {
	color: #f4f4f4;
	transition: all 0.3s ease-in-out;
}
.service-icon {
	color: var(--main-color);
	transition: all 0.3s ease-in-out;
}

.service-item:hover .service-icon-border {
	color: var(--sec-color);
}
.service-item:hover .service-icon-circle {
	color: var(--primary-color);
}
.service-item:hover .service-icon {
	color: white;
}

.service-content {
	font-weight: 800;
	font-size: 1.1rem;
	line-height: 1.3rem;
	letter-spacing: 1px;
}

/* work (portoflio) */

.inner-dec {
	opacity: 0;
	z-index: 2;
	width: 96%;
	height: 96%;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: var(--sec-color);
	transition: all 0.5s ease-in-out;
}

.inner:hover .inner-dec {
	opacity: 1;
}

.inner-dec h6 {
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 12px;
	columns: var(--main-color);
	letter-spacing: 3px;
}

.inner-icon {
	font-size: 12px;
	background-color: var(--primary-color);
	color: var(--sec-color);
	padding: 10px 10px;
	border: 1px transparent solid;
	border-radius: 99999px;
}
.inner-icon:hover {
	background-color: var(--sec-color);
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.nav-tabs {
	border-bottom: 0;
}
.nav-tabs .nav-item .nav-link {
	border: 0;
	color: var(--primary-color);
	font-family: var(--sec-font);
	font-weight: 700;
	font-size: 1rem;
	width: 50%;
	cursor: pointer;
	position: relative;
}

.nav-tabs .nav-item .nav-link::after {
	content: "";
	width: 0;
	height: 2px;
	background: var(--primary-color);
	position: absolute;
	bottom: -5px;
	left: 0;
	transform: translateX(40%);
	transition: all 0.3s ease-in;
	z-index: -1;
}
.nav-tabs .nav-item .active::after {
	width: 100%;
}

/* Testimonials */

#client {
	background: var(--bg-color);
}

.client-img {
	width: 13%;
}
.carousel-indicators {
	padding-bottom: 10%;
}
.carousel-indicators [data-bs-target] {
	position: absolute;
	bottom: 0;
	background: #869791;
	width: 10px;
	height: 10px;
	border: 1px transparent solid;
	border-radius: 90000px;
}

.people-content h6 {
	color: var(--main-color);
	font-weight: 600;
	font-size: 1rem;
}
.people-content span {
	font-weight: 600;
	font-size: 12px;
}

/* numbers */

.numbers-icon {
	color: var(--main-color);
}

#numbers p {
	margin: 0.5rem 0 0.5rem 0;
	font-weight: 900;
	font-size: 30px;
	line-height: 2.7rem;
	color: var(--main-color);
}
#numbers span {
	margin: 0.5rem 0 0 0;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5;
}

/* team */

.team h3 {
	position: relative;
	z-index: 1;
}
.team h3::after {
	content: "";
	width: 100%;
	height: 30px;
	background-image: url(../imgs/imgs/dots.png);
	background-repeat: repeat;
	position: absolute;
	bottom: -10px;
	left: 0;
	z-index: -1;
}
#team {
	background-color: var(--bg-color);
}
.item-text {
	background-color: #5b5b5b;
}
.team-anim {
	transform: rotateY(180deg);
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.icon i{
	font-size: 8px;
	padding: 5px;
	opacity: 1;

	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 1);
	border: solid 0.1px black;
}
.icon {
	opacity: 1;
}
.item-image img {
	transition: all 0.5s ease-in-out;
}
.item-image {
	overflow: hidden;
}
.team-item:hover {
	.team-anim {
		transform: rotateY(180deg);
		opacity: 0.9;
		transform: scale(1.95);
	}
}
.item-image img:hover {
	transform: scale(1.2);
}
.icon i:hover {
	background-color: white;
	color: black;
}
#face {
	font-size: 8px;
	padding: 5px 6px;
}

/* contact */

.contact-icon {
	color: var(--main-color);
}
.contact-icon-circle {
	color: red;
}

#contact .contact-input input {
	width: 47%;
}
.contact-input-style {
	background-color: #f4f4f4;
	border: 1px solid transparent;
}
#contact textarea {
	height: 150px;
}

.form-control:focus {
	background-color: #f4f4f4;
	border: 1px solid transparent;
	box-shadow: 0 0 0;
}

/* footer */

#footer {
	background-color: var(--primary-color);
	text-align: center;
}
